@model CP_v2.Models.HomeModel
@{ Layout = null; 
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Car Parking</title>
    <link href="~/Content/styles.css" type="text/css" rel="stylesheet" />


    <script type="text/javascript">

        function GetClock() {
            var d = new Date();

            if (nyear < 1000) nyear += 1900;
            var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;
            var nday = d.getDay(), nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getYear();
            if (nhour == 0) { ap = " AM"; nhour = 12; }
            else if (nhour < 12) { ap = " AM"; }
            else if (nhour == 12) { ap = " PM"; }
            else if (nhour > 12) { ap = " PM"; nhour -= 12; }

            if (nmin <= 9) nmin = "0" + nmin;
            if (nsec <= 9) nsec = "0" + nsec;

            document.getElementById('clocktime').value = nhour + " : " + nmin + " : " + nsec + ap + "";
        }

        window.onload = function () {
            GetClock();
            setInterval(GetClock, 1000);
        }

        function ShowPopUp() {

            window.open('@Url.Content("~/Photo/Index/")', "wndPopUp", 'width=720,height=400,left=100,top=100,resizable=no');

        }
    </script>



</head>
<body>
    <div class="head-login text-left">
        <div class="head-login-title">Raja Zahid Latif Contractor</div>
        <div class="slogan">slogan comes here. slogan comes here.</div>
    </div>
    <div class="user">
        <div class="user-img"><img src="~/images/user-img.jpg" alt="" /></div>
        <div class="user-details">
            <b>User Name</b><br />
            Login Time: 02:50pm
        </div>
    </div>
    <div class="clear"></div>
    <div class="white-sprtr"></div>
    <div class="price-list">
        <div class="price-circle no-margin">@Model.day <sup>PKR</sup><span>Daily Rate</span></div>
        <div class="price-circle">@Model.Night <sup>PKR</sup><span>Night Rate</span></div>
        <div class="price-circle">@Model.week <sup>PKR</sup><span>Weekly Rate</span></div>
        <div class="price-circle">@Model.Month <sup>PKR</sup><span>Monthly Rate</span></div>
        <div class="price-circle">@Model.Yearly <sup>PKR</sup><span>Yearly Rate</span></div>
    </div>
    <div class="clear"></div>
    <div class="data-entry">
        <form class="form" id="form1" method="post">
            <div class="carimg-side"><img src="@Url.Content(@ViewBag.pic)" alt="" onclick="ShowPopUp();"/></div>
            <div class="form-side">
                <div class="login-form">
                    <div id="form-main">

                        <p class="name">
                            <select name="veh_type">
                                <option value="89793349-9168-4246-96C8-7E35E99CBCEE">Car</option>
                                <option value="1451355E-95B2-4AF8-B370-DC7131F40678">Bike</option>
                            </select>
                        </p>

                        <p class="name">
                            <input name="name" type="text" placeholder="Enter Vehicle No" />
                        </p>

                        <p class="name">
                            <input name="clockdate" type="text" placeholder="Checkin Date" value="@DateTime.Now.ToString("dd - MMM - yyyy")" disabled />
                        </p>

                        <p class="name">
                            <input name="clocktime" id="clocktime" type="text" placeholder="Checkin Time" value="@DateTime.Now.ToShortTimeString()" disabled />
                        </p>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="token">
                <div class="current-token">405 <span>Current Token No Issued</span></div>

                <div class="submit">
                    <input type="submit" value="PRINT TOKEN NO" id="submit-button" />
                </div>
            </div>
        </form>
    </div>
    <div class="clear"></div>
    <table>
        <tr>
            <th>Token</th>
            <th>Vehicle No</th>
            <th>Checkin Time</th>
            <th>Checkout Time</th>
            <th>Checkin Date</th>
            <th>Recived</th>
        </tr>
        @foreach (var item in Model.parkedCars)
        {
            <tr>
                <td>@item.recript_no</td>
                <td>@item.car_no</td>
                <td>@item.parkin_time.Value.ToShortTimeString()</td>
                <td>@(item.parkout_time == null ? "" : item.parkout_time.Value.ToShortTimeString()) </td>
                <td>@item.parkin_time.Value.ToShortDateString()</td>
                <td><img src="~/images/check-mark.png" alt="" /></td>
            </tr>
        }


    </table>
</body>
</html>
