@model CP_v2.Models.HomeModel
<div class="container" ng-controller="checkincontroller">
    <div class="price-list">
        <div class="price-circle no-margin">@Model.day <sup>PKR</sup><span>Daily Rate</span></div>
        <div class="price-circle">@Model.Night <sup>PKR</sup><span>Night Rate</span></div>
        <div class="price-circle">@Model.week <sup>PKR</sup><span>Weekly Rate</span></div>
        <div class="price-circle">@Model.Month <sup>PKR</sup><span>Monthly Rate</span></div>
        <div class="price-circle">@Model.Yearly <sup>PKR</sup><span>Yearly Rate</span></div>
    </div>
    <div class="clear"></div>
    <div class="data-entry">
        <div class="carimg-side">
            <div class="vehicle-img"><img src="@Url.Content(@ViewBag.pic)" alt="" id="carimg" onclick="ShowPopUp();" /></div>
           

        </div>
        <div class="form-side">
            <div class="login-form">
                <div id="form-main">
                    <form method="post" class="form" novalidate=novalidate name="carform">
                        <p class="type">
                            <select ng-model="veh_type" required=required>
                                <option value="89793349-9168-4246-96C8-7E35E99CBCEE">Car</option>
                                <option value="1451355E-95B2-4AF8-B370-DC7131F40678">Bike</option>
                            </select>
                        </p>
                        <input type="hidden" id="vehimage" value="@ViewBag.pic" />
                        <p class="name">
                            <input ng-model="veh_no_token" type="text" placeholder="Enter Vehicle No" required=required />
                        </p>

                        <p class="name">
                            <input name="clockdate" id="clockdate" type="text" placeholder="Checkin Date" value="@DateTime.Now.ToString("dd - MMM - yyyy")" disabled=disabled />
                        </p>


                        <p class="price-for">
                            <input type="checkbox" ng-model="night" /> Night Parking
                        </p>
                        <div class="token">
                            <div class="current-token"><span>Current Token No: </span> {{token_no_current}} </div>

                            <div class="submit">
                                <input type="submit" ng-disabled="carform.$invalid" value="PRINT TOKEN" id="submit-button" ng-click="printToken()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    @Html.Partial("_CarParkingTable")
    <div class="copyright">&copy; 2016. All Rights Reserved.</div>
</div>

